<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Profile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c3a68ff822.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <a href="/"><h4>MY CANINE COMPANION</h4></a>
        <ul>
            <a href="/aboutUs"><li>About Us</li></a>
            <% if(typeof user == 'undefined') { %>
                <a href="/login"><li>Login</li></a>
                <a href="/register"><li>Register</li></a>
            <%}else{ %>
                <a href="/log"><li>Epi-Dog-Log</li></a>
                <a href="/petProfile"><li>Pet Profile</li></a>
                <a href="/text"><li>Text Reminders</li></a>
                <a href="/auth/logout"><li>Log Out</li></a>
           <% }%>
        </ul>
    </nav>
    <header class="logHeader">
        <section>
            <h1>EPILEPSY</h1>
            <h3>Seizure Log</h3>
        </section>
    </header>
    <section>
        <section class="dogNameAndInstruction">
            <h4><%= myPet[0].name %>'s Seizure Activity</h4>
            <p>All sections should be completed for each seizure that occurs.</p>
        </section>
        <section class="inputsAndTableContainer">
            <section class="inputsAndTableContainerOne">
                <form action="/log/postLog" method="POST" class="seizureInputs">
                    <h3>Seizure Entry</h3>
                    <label>Date</label><input type="text" placeholder="Date *" name="seizureDate">
                    <label>Time</label><input type="text" placeholder="Time *" name="seizureTime">
                    <label>Length</label><input type="text" placeholder="Length of Seizure (seconds) *" name="seizureLength">
                    <label>Observations</label><textarea type="text" rows="3" cols="20" placeholder="Seizure Observations" name="seizureObservations" maxlength="100"></textarea>
                    <label>Person</label><input type="text" placeholder="Person Making Observation *" name="seizureObservor">
                    <input id="seizureBtn" type="submit">
                </form>
            </section>
            <section class="inputsAndTableContainerTwo">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Length</th>
                            <th>Observations</th>
                            <th>Person</th>
                        </tr>
                    </thead>
                    <% myPosts.forEach((item)=> { %>
                        <tr data-id="<%= item._id %>">
                            <td><i class="fa-solid fa-circle-minus"></i></td>
                            <td><%= item.date %></td>
                            <td><%= item.time %></td>
                            <td><%= item.length %></td>
                            <td><%= item.observation %></td>
                            <td><%= item.person %></td>
                        </tr>
                   <% }) %>
                </table>
            </section>
        </section>
    </section>




        <footer>
            <section>
                <h3>&copy;MY CANINE COMPANION</h3>
                <p>EST. 2022 in Orchard Park, NY</p>
                <p>All rights reserved.</p>
            </section>
            <section>
                <ul>
                    <li>About Us</li>
                    <li>Epi-Dog-Log</li>
                    <li>Sign Up</li>
                    <li>Login</li>
                </ul>
            </section>
        </footer>
<script src="/js/main.js"></script>
</body>
</html>