<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Profile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c3a68ff822.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <a href="/"><h4>MY CANINE COMPANION</h4></a>
        <ul>
            <li>About Us</li>
            <a href="/log"><li>Epi-Dog-Log</li></a>
            <a href="/petProfile"><li>Pet Profile</li></a>
            <li>Login</li>
            <a href="/auth/logout"><li>Log Out</li></a>
        </ul>
    </nav>

    <header class="profileHeader">

    </header>
    <section class="picAndNameAndBreed">
        <div class="petProfilePic"><img src="/photos/placeholder.jpeg"></div>
        <h1 id="petName"><%= myPet[0].name %></h1>
        <h2><%= myPet[0].breed %></h2>
        <h3>Owner: <%= user.displayName %></h3>
        <h3>Birthday: <%= myPet[0].birthday %></h3>
        <h3>Gender: <%= myPet[0].gender %></h3>
        <h3>Spayed: <%= myPet[0].spayed %></h3>
    </section>

    <section class="petProfileContainer">
        <section class="fbPost" >
            <div class="textAreaContainer">
                <form action="/petProfile/addPost" method="POST">
                    <textarea id="textAreaPost" type="text" rows="4" cols="50" placeholder="Hi, <%= myPet[0].name %>! What did you do today?" name="post" maxlength="100"></textarea><br>
                    <div class="counterAndBtn"><input type="submit" value="Post"><span id="counter">0/100</span></div>
                </form>
            </div>
            <section>
                <h1 class="petNamePosts"><%= myPet[0].name%>'s Five Latest Posts</h1>
                <div class="sort">
                    <a href="/petProfile/sortOldest"><div class="oldest">Older</div></a>
                    <a href="/petProfile"><div class="newest">Newer</div></a>
                </div>
            </section>
            <% for(let i = 0; i < myPosts.length; i++){ %>
                <% if(i < 5) { %>
                    <section class="profilePost" data-id="<%=myPosts[i]._id%>">
                    <p class="postDate"><%= moment(myPosts[i].date).format('MMMM Do YYYY, h:mm a') %></p><br>
                    <p class="post"><%= myPosts[i].post %></p><br>
                    <i id="trash" class="fa-solid fa-trash-can"></i>
                </section>
                <%}%>
            <% } %>
        </section>

    </section>


        <footer>
            <section>
                <h3>&copy;MY CANINE COMPANION</h3>
                <p>EST. 2022 in Orchard Park, NY</p>
                <p>All rights reserved.</p>
            </section>
            <section>
                <ul>
                    <li>About Us</li>
                    <li>Epi-Dog-Log</li>
                    <li>Sign Up</li>
                    <li>Login</li>
                </ul>
            </section>
        </footer>
<script src="/js/main.js"></script>
</body>
</html>